.btn{
    display: flex;
    width: 100%;

    button{
        display: flex;
        align-items: center;
        cursor: pointer;
        border: 0px;
        width: 100%;
        border-radius: $border-radius;
        color: white;
        background-color: inherit;
    
        &:focus{
            outline:none;
        }
    
        & span{
            margin: auto;
        }
    }

    .trial{
        padding: 20px;
        margin-top: 5px;
        background-color: $tertiary-color;
        margin-bottom: 15px;
        box-shadow: 0 10px 0 rgba(0, 0, 0, 0.2);

        &:hover{
            @include tertiarytLighter;
        }

        & span{
            width: 60%;
            
        }
    }

    .claim{
        padding: 15px;
        font-weight: 500;
        font-size: 18px;
        margin: 10px 0 15px 0;
        background-color: $secondary-color;
        text-transform: uppercase;
        box-shadow: 0 5px 0 darken($color: $secondary-color, $amount: 5);

        &:hover{
            @include secondarytLighter;
            box-shadow: 0 5px 0 lighten($color: $secondary-color, $amount: 5);
            
        }

        & span{
            width: 100%;
            
        }
    }
}

@media all and (min-width: 1024px){
    .btn {

        .trial{

            & span{
                width: 100%;
            }
        }
    }
}