@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url("../images/bg-intro-mobile.png");
    background-color: $primary-color;
}

body, button, input{
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h1{
    font-weight: inherit;
}

#container{
    width: 375px; 
    margin: auto;
    padding: 55px 0;
    
}

@media all and (min-width: 1024px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("../images/bg-intro-desktop.png");
    }

    #container{
        display: flex;
        justify-content: space-evenly;
        max-width: 1440px;
        width: 80%; 
        padding: 60px 0;
        
    }

    footer{
        align-self: flex-end;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: white;
}

.attribution a {
    font-size: 11px;
     color: hsl(228, 45%, 44%);
}

