section{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
}

 #sec1{
    text-align: center;

    .learn{

        &__title{
            margin: 7px 0;
            font-weight: 600;
            font-size: 28px;
            line-height: 35px;
        }

        &__description{
            font-weight: 400;
            font-size: 17px;
            margin: 25px 0 18px 0 ;
        }
    }
}

#myForm{
    padding: 20px;
    background-color: white;
    border-radius: $border-radius;
    margin: 10px 0;
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0.2);

    .eula{        
        &__terms{
            font-weight: 600;
            text-decoration: inherit;
            color: $primary-color;
            cursor: pointer;
            
        }

        &__description{
            display: flex;
            flex-direction: column;
            text-align: center;
            color: $span-color;
        }
        
        &__description, & strong{
            font-size: 10px;
        }
    }
}

.myForm__data{
    display: flex;
    position: relative;
    overflow: hidden;

    input{
        border-radius: $border-radius;
        width: 100%;
        padding: 15px;
        margin: 6px 0;
        border: 2px solid rgba(128, 128, 128, 0.2);
        font-weight: 500;
        color: black;
    }

    input:focus{
        outline: none;
        border-color: lighten($color: $tertiary-color, $amount: 20);
    }

    input, input::placeholder{
        text-indent: 20px;
    }

    img{
        visibility: hidden;
        position: absolute;
        height: auto;
        width: 30px;
        right: 25px;
        top: 26px;
    }

    &.error input{
        border: 2px solid rgb(255, 61, 61);
    }

    &.error input::placeholder{
        color: red;
    }

    &.error img{
        visibility: visible;
    }
}

