$primary-color: hsl(0, 100%, 74%);
$secondary-color: hsl(154, 59%, 51%);
$tertiary-color: hsl(248, 32%, 49%); 
$border-color: hsl(249, 10%, 26%);
$span-color: hsl(246, 25%, 77%);
$border-radius: 10px;

